@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap')
*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
}
body{
    background-color:#1F8A70;
}
header{
    background-color: #00425A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    height: 5px 10%;
}
.header .nav-links {
    list-style: none;
}
.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}
.header .nav-links li:hover {
    transform: scale(1.2);

}
.header .nav-links a{
    font-size: 700;
    color: #EFF5F5;
    text-decoration: none;
}
.header .nav-links li a:hover {
    color: #FC7300;
}
.header .btn button{
    font-weight: 700;
    color: #1F8A70;
    padding: 10px 25px;
    background: #EFF5F5;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.header .btn button:hover{
    background-color: #FC7300;
    color: #00425A;
    transform: scale(1.2);
}
.title {
    margin: 0;
    padding: 0;
    height: 400px;
    background-image:url(/PROYECTO/multimedia/portada.jpg) ;
    background-size: cover;
    background-position: center;
}
.title h1{
    text-align: center;
    font-size: 100px;
    color: #EFF5F5;
    text-shadow: 2px 2px 4px color black;
}
.title p{
    text-align: center;
    font-size: 70px;
    color: #EFF5F5;
}
.title2 {    
    margin: 0;
    padding: 0;
    height: 400px;
    background-image:url(/PROYECTO/multimedia/portada.jpg) ;
    background-size: cover;
    background-position: center;
}
.title2 h1{
    text-align: center;
    font-size: 70px;
    color: #EFF5F5;
    text-shadow: 2px 2px 4px color black;
}
.title2 p{
    text-align: center;
    font-size: 40px;
    color: #EFF5F5;
}
.quien {
    font-size: 80px;
    color: #EFF5F5;
    text-align: center;
}
.quienes {
    
    display: flex;
    justify-content: center;
    height: 300px;
}
.quienp {
    font-size: 40px;
    color: #EFF5F5;
    text-align: center;
}




.footer{
    background-color: #00425A;
    color: #EFF5F5;
    text-align: center;
}
.maps{
    text-decoration: none;
    color: #EFF5F5;
}
.redes a img {
    height: 75px;
    width: 75px;
}